{% extends 'base.html' %}

{% block content %}
<h1>{{message}}</h1>
<form method="POST" enctype="multipart/form-data" action="{% url 'user_login' %}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="passwordtext" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordtext" name="passwordtext">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}