{% extends 'base.html' %}

{% block content %}
<style>
  .toast {
    color: green;
}
</style>
<h1>This is product page</h1>
<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
  <div class="toast-body">
    Successfully Added
  </div>
</div>
{% for product in products %}

<div class="card" style="width: 18rem;">
  {% if product.product_image %}
  <img class="card-img-top" src="{{product.product_image.url}}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{product.product_name}}</h5>
    <p class="card-text" >{{product.product_description}}</p>
    <p class="card-text" >{{product.product_price}}</p>

    <p hidden name="product" id="product" value="{{product.id}}">{{product.id}}</p>
    <p hidden name="user" id="user" value="{{user.id}}">{{user.id}}</p>

    <a href="/product/{{product.id}}" class="btn btn-primary">Edit</a>
    <a href="/product_delete/{{product.id}}" class="btn btn-danger">Delete</a>
    <a class="btn btn-primary" onclick="addtocart();">Add to cart</a>

    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" aria-describedby="quantity" value="1">
    </div>

  </div>
</div>

{% endfor %}
</div>
<script>

  function addtocart() {
    user = document.getElementById('user').textContent
    product = document.getElementById('product').textContent
    quantity = document.getElementById('quantity').value

    console.log('adsajsd', user, product)

    $.ajax({
      type: "POST", //GET or POST or PUT or DELETE verb 
      url: "{% url 'add_to_cart' %}", // Location of the service 
      data: JSON.stringify({
        'test': 'test',
        'user': user,
        'product': product,
        'quantity': quantity
      }), 
      success: function (json) { //On Successfull service call 
        $('.toast').toast('show');
      },
    });
  }
</script>
{% endblock %}