{% extends 'base.html' %}

{% block content %}
    <h1>This is product page</h1>
    {% for product in products %}
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product.product_image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{product.product_description}}</p>
          <p class="card-text">{{product.product_price}}</p>
          <a href="{{product.id}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}