{% extends 'base.html' %}

{% block content %}
<h1>{{message}}</h1>
<form method="POST" enctype="multipart/form-data" action="{% url 'registration' %}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
        <div id="username" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="passwordtext" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordtext" name="passwordtext">
    </div>

    <div class="mb-3">
        <label for="full_name" class="form-label">full_name</label>
        <input type="text" class="form-control" id="full_name" name="full_name" aria-describedby="full_name">
    </div>
    <!-- Add profile image tab -->
    <!-- <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
    </div> -->
    <!-- End profile image -->
    
    <div class="mb-3">
        <label for="contact_number" class="form-label">contact_number</label>
        <input type="number" class="form-control" id="contact_number" name="contact_number" aria-describedby="contact_number">
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">address</label>
        <input type="text" class="form-control" id="address" name="address" aria-describedby="address">
    </div>
    <div class="mb-3">
        <label for="date_of_birth" class="form-label">date_of_birth</label>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" aria-describedby="date_of_birth">
    </div>
    <div class="mb-3">
        <label for="line1" class="form-label">line1</label>
        <input type="text" class="form-control" id="line1" name="line1" aria-describedby="line1">
    </div>
    <div class="mb-3">
        <label for="city" class="form-label">city</label>
        <input type="text" class="form-control" id="city" name="city" aria-describedby="city">
    </div>
    <div class="mb-3">
        <label for="state" class="form-label">state</label>
        <input type="text" class="form-control" id="state" name="state" aria-describedby="state">
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">country</label>
        <input type="text" class="form-control" id="country" name="country" aria-describedby="country">
    </div>
    <div class="mb-3">
        <label for="zip_code" class="form-label">zip_code</label>
        <input type="number" class="form-control" id="zip_code" name="zip_code" aria-describedby="zip_code">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}